@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .headerLi {
    @apply text-primaryColor hover:text-secondaryColor cursor-pointer duration-300;
  };
  .textColor {
    @apply text-primaryColor
  }
}

@layer base{
  body {
      @apply dark:bg-gray-800 bg-white
  }
}

body{
  background-color: #212124;
  scroll-behavior: smooth;
  font-family: 'Roboto', sans-serif;
  /* Additional global styles */
}
